// GLOBAL
p {
  text-align: justify;
}

// HOMEPAGE
.home-section {
    width: calc(100% - 2*$spacing-unit);
    padding: $spacing-unit;
}

.home-main-title {
    height: 100%;
}

.home-main-image {
    opacity: 0.4;
    width: 100%;
    height: 100%;
    float: left;
}

.home-main-title-text {
    text-align: center;
    top: 50%;
    left: 50%;
}

.main-title {
    font-size: 48px;
}

.main-subtitle {
    font-size: 30px;
}

// HOMEPAGE MAIN FEATURES
.home-feature {
  @media screen and (min-width: $on-large) {
    width: calc(33.3% - #{$spacing-unit});
  }
  float: left;
  margin-top: 0;
  margin-right: $spacing-unit/2;
  margin-bottom: $spacing-unit;
  margin-left: $spacing-unit/2;
  text-align: center;
}

.home-feature-icon {
  width: 130px;
  height: 130px;
  margin: $spacing-unit auto;
  display: block;
}

// FOOTER
.footer-col-left {
    text-align: left;
    float: left;
}

.footer-col-right {
    text-align: right;
    float: right;
}

.footer-github-link {
    position: relative;
}

.footer-github-link>a {
    position: absolute;
    left: $spacing_unit / 2;
    top: $spacing_unit;
}

.github-icon {
    padding: 0px 3px 3px 0px;
}

// BLOG POSTS
.post-content img {
  display: block;
  margin: auto;
}

.post-content .iframe-wrapper {
  position: relative;
  overflow: hidden;
  margin: auto;
  display: block;
  padding-top: 56.25%;
}

.iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
