---
layout: default
---

<div class="home">
    <div class="home-section">
        <div class="home-main-title wrapper">
            <div class="home-main-title-text">
                <h1 class="main-title">{{ site.title }}</h1>
                <h2 class="main-subtitle">{{ site.description }}</h2>
            </div>
        </div>
    </div>

    <div class="separator"></div>

    <div class="home-section">
        <div class="home-main-text wrapper">
            {{ content }}
        </div>
    </div>

    <div class="separator"></div>

    <div class="home-section">
      <div class="wrapper">
        {% include home-feature.html
            class="leftmost"
            title=page.feature-title-1
            content=page.feature-content-1
        %}
        {% include home-feature.html
            title=page.feature-title-2
            content=page.feature-content-2
        %}
        {% include home-feature.html
            title=page.feature-title-3
            content=page.feature-content-3
        %}
      </div>
    </div>
</div>
