---
layout: default
---

<div class="home">
    <div class="home-section">
        <div class="home-main-title">
            <div class="home-main-title-text">
                <h1 class="main-title">{{ site.title }}</h1>
                <h2 class="main-subtitle">{{ site.description }}</h2>
            </div>
        </div>
    </div>
    <div class="home-section">
        <div class="home-main-text wrapper">
            <p>The long version of the blurb
lots and lots of text
more text
this is a loooooooooooooooooooooooooooooong line with lots and lots and lots and lots and lots and lots and lots and lots and lots and lots and lots of words
</p> 
        </div>
            <!--<img src="/assets/img/team-cropped.jpg" class="home-main-image"/>-->
    </div>
    <!-- next section -->
    <!-- split into three columns -->
    <!-- each with a large icon and a description -->
    <!-- link to about/"learn more" page -->
    <!-- then a team section? -->

</div>

