---
layout: default
---

<div class="home">
    <div class="home-section">
        <div class="home-main-title wrapper">
            <div class="home-main-title-text">
                <h1 class="main-title">{{ site.title }}</h1>
                <h2 class="main-subtitle">{{ site.description }}</h2>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="home-section">
        <div class="home-main-text wrapper">
            {{ content }}
        </div>
    </div>
</div>
